body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	margin: 50px 0;
	padding: 0;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

#outer {
	width: 1000px;
	margin: 0 auto;    
}

.title {
	font: Helvetica;
	font-size: 2.95em;
	font-weight: bold;
	white-space:pre-line ;
}

.titleContainer {
	border-style: none none dotted none;
	border-color: #ccc;
	border-width: 4px;
	margin: 10px 50px;
	padding: 20px 0px;
}

.header {
	padding: 10px 0px 0px 5px;
	margin: 5px 0px 10px 0px;
}

.statusboard {
	border-style: dotted none dotted none;
	border-color: #ccc;
	border-width: 4px;
	padding-bottom: 10px;
}

.header .name {
	display: inline-block;
	width: 360px;
	font-size: 1.75em;
	color: #777;
	font-weight: bold;
}

.header .target {
	display: inline-block;
	width: 135;
	text-align: center;
	font-size: 1.7em;
	color: #777;
	font-weight: bold;
}

.header .risk {
	display: inline-block;
	width: 285px;
	text-align: center;
	font-size: 1.7em;
	color: #777;
	font-weight: bold;
}


.header .status {
	display: inline-block;
	width: 160px;
	text-align: right;
	font-size: 1.7em;
	color: #777;
	font-weight: bold;
}

.project {
	cursor: pointer;
	padding: 5px;
}

.project .name {
	display: inline-block;
	width: 270px;
	font-size: 1.5em;
	color: #777;
}

.project .target {
	display: inline-block;
	width: 345px;
	text-align: center;
	font-size: 1.5em;
	color: #777;
}

.project .risk {
	display: inline-block;
	width: 105px;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

.project .status {
	display: inline-block;
	width: 255px;
	text-align: right;
	font-size: 1.5em;
	font-weight: bold;
}

.project.selected {
	background-color: #FAFAD2;
}

.project.selected .score {
	color: black;
}

.details, .none {
	font-weight: bold;
	font-size: 1.5em;
	border-style: none none none none;
	border-color: #ccc;
	border-width: 4px;
	margin: 15px 10px;
	padding: 10px 0px;
}

.none {
	color: #777;
}

.inc {
	cursor: pointer;
}

/* Button styles */
.button {
	display: inline-block;
	cursor: pointer;
	border-radius: 3px;
	margin-bottom: 20px;
	color: #000;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	padding: 0 14px;
	line-height: 26px;
	font-weight: bold;
	-webkit-transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-o-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;

}

.button:hover {
	text-decoration: inherit;
	color: inherit;
	background-color: #DCDCDC;
}

.button-danger {
	background: #EE6363;
	color: white;
}

.button-danger:hover {
	text-decoration: inherit;
	color: white;
	background-color: #FF6A6A;
}

.button-primary {
	background: #E3E3E3;
}

.button-primary:hover {
	text-decoration: inherit;
	color: inherit;
	background-color: #C4C4C4;
}

.button-save {
	background: #AED9A5;
}

.button-save:hover {
	text-decoration: inherit;
	color: inherit;
	background-color: #B4EEB4;
}

/* Footer */
#footer {
	position:fixed;
	right:1%;
	bottom:10px;
	height:30px;
	width:98%;
}